@import url("../assets/fonts/CeraPro/stylesheet.css");
@import url("../assets/libs/bootstrap//bootstrap-grid.min.css");
:root {
  --color-primary: #027c33;
  --color-secondary: #027c33;
  /* linear-gradient(90deg, #3ED625 20.44%, #734AE8 80.91%),
    #c4c4c4; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cera Pro", sans-serif;
  color: inherit;
  user-select: none;
}

footer {
  position: relative;
}

.scrolled-body {
  overflow: hidden;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #151418;
  color: #fff;
  padding-bottom: 80px;
}

.light {
  background-color: #fbfbff;
  color: #000 !important;
}

.h1 {
  font-size: 44px;
}

.h2 {
  font-size: 34px;
}

.h3 {
  font-size: 30px;
}

.h4 {
  font-size: 26px;
}

.h5 {
  font-size: 20px;
}

.h6 {
  font-size: 16px;
  font-weight: 400;
}

.title {
  margin-bottom: 40px;
  text-align: center;
  color: var(--color-primary);
}

.mt-40 {
  margin-top: 40px;
}

.link:hover {
  transition: all 0.2s linear;
  color: var(--color-primary) !important;
}

.btn {
  font-size: 18px;
  font-weight: 500;
  padding: 14px 28px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--color-primary);
}

.btn-secondary {
  color: #fff;
  background: var(--color-secondary);
}

.btn-secondary:hover {
  border: 2px solid #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  transition: all 0.3s linear;
}

.overlay_visible {
  z-index: 15;
  background-color: #00000080;
}

@media (max-width: 992px) {
  .h1 {
    font-size: 32px;
    margin-bottom: 24px;
  }

  .h3 {
    font-size: 24px;
  }

  .h4 {
    font-size: 20px;
  }
  .h6 {
    font-size: 18px;
  }

  .btn {
    width: 100%;
  }
}
